{% extends "header.html" %} {% block head %} {{ super() }}
<meta property="og:title" content="{{fleet_number}} - Rutgers Bus Nerd" />
<meta
  name="description"
  content="Bus {{fleet_number}} is a {{year}} {{manufacturer}} {{model}} used on the {{campus}} campus. View the whole page for more details."
/>
<meta
  property="og:description"
  content="Bus {{fleet_number}} is a {{year}} {{manufacturer}} {{model}} used on the {{campus}} campus. View the whole page for more details."
/>
<meta property="og:image" content="{{image_url}}" />
<meta property="og:type" content="website" />
<title>{{fleet_number}} - RU Bus Nerd</title>
<style></style>
{% endblock %} {% block body %}
<img
  style="width: 100%"
  src="{{image_url}}"
  alt="Couldn't load an image for this bus 😟"
/>
<h1
  style="
    font-family: 'Helvetica Bold', 'Arial Bold', Arial, 'Inter Tight', sans-serif;
    font-size: 3em;
    text-align: right;
    position: sticky;
    padding: 16px;
    top: 0;
    height: 88px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 0;
    z-index: 0;
    width: fit-content;
  "
>
  {{fleet_number}}
</h1>
<div style="padding: 0.5em">
  <div class="statusContainer">
    <h4 style="margin-bottom: 0.2em;">Live Data</h4>
    {% if live_available %}
    <table>
      <tr>
        <td>
          Route
        </td>
        <td style="display: flex; align-items: center;"><span class="circle" style="background-color: {{'#' + (live['lineColor'] or 'fff2')}};"></span>{{live['line'] or "--"}}</td>
      </tr>
      <tr>
        <td>Load</td>
        <td>{{live['extra']['load'] or "--"}}</td>
      </tr>
      <!-- <tr>
        <td>Next Stop</td> 
        <td>{{live.predictions.load or "--"}}</td>
      </tr> -->
    </table>
    {% else %}
    <p>Bus is offline.</p>
    {% endif %}
  </div>
  <h4>Operational Status</h4>
  <p>{{status_disposal or "--"}}</p>
  <h4>Year</h4>
  <p>{{year or "--"}}</p>
  <h4>Campus</h4>
  <p>{{campus or "--"}}</p>
  <h4>Notes</h4>
  <!-- if notes exist, split by newline and turn into bulleted list, or else show -- -->
  <p>
    {% if notes %}
    <ul>
      {% for note in notes.split("\n") %}
      <li>{{note}}</li>
      {% endfor %}
    </ul>
    {% else %}
    --
    {% endif %}
  </p>
  <h4>Group</h4>
  <p>{{group or "--"}}</p>
  <h4>Group Notes</h4>
  <p>
    {% if group_notes %}
    <ul>
      {% for note in group_notes.split("\n") %}
      <li>{{note}}</li>
      {% endfor %}
    </ul>
    {% else %}
    --
    {% endif %}
  </p>
  <h4>Manufacturer</h4>
  <p>{{manufacturer or "--"}}</p>
  <h4>Model</h4>
  <p>{{model or "--"}}</p>
  <h4>Engine</h4>
  <p>{{engine or "--"}}</p>
  <h4>Transmission</h4>
  <p>{{transmission or "--"}}</p>
  <h4>Built</h4>
  <p>{{build_date or "--"}}</p>
  <h4>License Plate</h4>
  <p>{{license_plates or "--"}}</p>
  <h4>VIN</h4>
  <p>{{vin or "--"}}</p>
</div>
{% endblock %}
