{% extends "header.html" %} {% block head %} {{ super() }}
<title>{{fleet_number}} - RU Bus Nerd</title>
<style></style>
{% endblock %} {% block body %}
<img
  style="width: 100%"
  src="{{image_url}}"
  alt="Couldn't load an image for this bus 😟"
/>
<h1
  style="
    font-family: Arial, 'Inter Tight', sans-serif;
    font-size: 3em;
    text-align: right;
    position: sticky;
    padding: 16px;
    top: 0;
    height: 88px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    margin-bottom: 0;
    z-index: 0;
    width: fit-content;
  "
>
  {{fleet_number}}
</h1>
<div style="padding: 0.5em">
  <h4>Status</h4>
  <p>{{status_disposal}}</p>
  <h4>Year</h4>
  <p>{{year}}</p>
  <h4>Campus</h4>
  <p>{{campus}}</p>
  <h4>Notes</h4>
  <p>{{notes}}</p>
  <h4>Group</h4>
  <p>{{group}}</p>
  <h4>Group Notes</h4>
  <p>{{group_notes}}</p>
  <h4>Manufacturer</h4>
  <p>{{manufacturer}}</p>
  <h4>Model</h4>
  <p>{{model}}</p>
  <h4>Engine</h4>
  <p>{{engine}}</p>
  <h4>Transmission</h4>
  <p>{{transmission}}</p>
  <h4>Built</h4>
  <p>{{build_date}}</p>
  <h4>License Plate</h4>
  <p>{{license_plates}}</p>
  <h4>VIN</h4>
  <p>{{vin}}</p>
</div>
{% endblock %}
