<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/global.css" />
    {% endblock %}
  </head>
  <body>
    <main>
      <header style="position: sticky; top: 0; background: #222">
        <a
          href="/"
          style="text-decoration: none; position: relative; z-index: 200"
        >
          <span style="color: #cc0033">Rutgers</span> <br />
          Bus Nerd
        </a>
      </header>
      {% block body %} {% endblock %}
    </main>
  </body>
</html>
